body {
  display: flex;
  min-height: 100vh;
  background-color: #20232a;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

aside {
  min-width: 200px;
  max-width: 300px;
  background-color: #20232a;
}

li {
  padding: 5px;
  cursor: pointer;
  margin-top: 10px;
  border-top: 0.5px white solid;
}
li:hover{
  color: aqua;
}
.addbutton{
  background-color: #20232a;
  color: white;
  border: none;
}
.addbutton:hover{
  background-color: #20232a;
  color: aqua;
  border: none;
}


#root {
  display: flex;
  width: 100%;
}